#ensemble-menu{
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
    #menu{
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 15px;
        border: 5px white solid;
        box-shadow: 0 0 50px  $colorBlue , inset 0 0 50px $colorBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 25px;
        color: white;

        .score{
            margin-bottom: 30px;
            font-size: 1.3rem;
        }
        button, input{
            margin-top: 25px;
            padding: 0 20px;
            width: auto;
        }
        .info{
            text-align: center;
            margin-top: 10px;
        }

        .formScore{
            border-radius: 15px;
            border: 5px white solid;
            box-shadow: 0 0 50px  $colorViolet , inset 0 0 50px $colorViolet;
            display: flex;
            justify-content: center;
            align-items: center;
            input, button{
                height: 50px;
                margin: 25px;
            }
            input{
                border-radius: 10px;
                border: none;
                outline: none;
            }
        }

        #tableau-score{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            li{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 30px;
                margin: 10px;
                border-bottom: 1px white solid;
                .num{
                    flex: 1;
                }
                .name{
                    min-width: 200px;
                }
                .score{
                    min-width: 200px;
                    text-align: end;
                }
            }
        }

        .menu-difficulty{
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            border-radius: 15px;
            border: 5px white solid;
            box-shadow: 0 0 50px  $colorViolet , inset 0 0 50px $colorViolet;
            margin: 25px;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                button{
                    width: 100%;
                    margin: 15px;
                }
                #difficulty-menu{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    text-align: center;
                }
            }
        }
        
        .options{
            width: 100%;
            list-style-type: none;
            border-radius: 15px;
            border: 5px white solid;
            box-shadow: 0 0 50px  $colorViolet , inset 0 0 50px $colorViolet;
            padding: 15px;
            li{
                min-width: 350px;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content:space-between;
                align-items: center;
                margin: 15px 0;
                button{
                    margin: 10px;
                    width: 175px;
                    color: $colorBlue;
                }
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
        }
    }
}