#ensemble-gameplay{
    width: 100%;
    display: flex;
}

.control{
    margin-top: 15px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 5px 15px;
    box-shadow: 0 0 20px $colorViolet;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px white solid;
}